<div class="row text-center">
  <div class="col">
    <h1>Counter</h1>
    <h2> {{ counter }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button type="button" class="btn btn-primary ms-1" (click)="increaseCounter()">Increase</button>
    <button type="button" class="btn btn-info ms-1" (click)="decreaseCounter()">Decrease</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-child [counter]="counter" (changeCounter)="counter = $event">
    </app-child>
  </div>
</div>